<div class="weather-default-index">
    <h1>Weather forecast widget</h1>
    <table border="1">
        <tr>
            <th colspan="2">{{ weather.city }}</th>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{ weather.temperature }}&deg; C</td>
        </tr>
        <tr>
            <td>Feels like</td>
            <td>{{ weather.feels }}&deg; C</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>{{ weather.humidity }} %</td>
        </tr>
    </table>
</div>
